// Reset
a,
article h2 a {
  color: $text;
}
article,
footer,
header,
main,
nav.paginate {
  padding: 15px;
}
a:active,
a:hover,
article h2 a:active,
article h2 a:hover,
ul#portfolio h4 a:active,
ul#portfolio h4 a:hover {
  color: $link;
  text-decoration: underline;
}
a svg {
  fill: $text;
}
a:active svg,
a:hover svg {
  fill: $link;
}
a.meta,
hr,
.meta {
  color: $meta;
}
a.meta:active,
a.meta:hover {
  color: $accent;
}
article {
  a {
    color: $link;
  }
  a:active,
  a:hover {
    color: $accent;
  }
}
article p {
  line-height: 27px;
}
article,
main {
  @extend %margin-center;
  max-width: 700px;
  width: 100%;
}
blockquote {
  border-left-color: $link;
  border-left-style: solid;
  border-left-width: 1px;
  margin: 0 0 15px 0;
  padding-left: 15px;
}
code,
figure {
  font: 400 17px monospace;
}
figure {
  background-color: $text;
  color: $background;
}
figure,
h1, h2, h3, h4,
nav > *,
p {
  margin: 0;
}
figure,
pre {
  box-shadow: $box;
  margin-bottom: 21px;
}
figcaption p,
pre {
  padding: 5px;
}
footer,
header,
nav {
  @extend %flex;
}
header {
  text-transform: uppercase;
}
header,
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h2, h3, h4 {
  margin-top: 10px;
}
img,
svg {
  height: auto;
  width: 100%;
}
li {
  margin-bottom: 5px;
}
nav {
  @extend %items-center;
  justify-content: space-between;
  a svg {
    height: 55px;
    width: 55px;
  }
}
ol,
ul {
  padding-left: 30px;
}
ol ul {
  padding-left: 20px;
}
p code {
  background-color: $text;
  color: $background;
  padding: 0 2px;
}