<!-- Favicon -->
<link rel="shortcut icon" href="/assets/icons/favicon.png">

<!-- Webclip and Apple Touch Icon -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="/assets/icons/apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon-180x180.png">
<link rel="mask-icon" color="#" href="/assets/icons/safari-pinned-tab.svg">

<!-- Android Chrome Icon -->
<link rel="android-chrome" sizes="128x128" href="/assets/icons/android-chrome-128x128.png">
<link rel="android-chrome" sizes="192x192" href="/assets/icons/android-chrome-192x192.png">
<link rel="android-chrome" sizes="512x512" href="/assets/icons/android-chrome-512x512.png">