<!-- Fonts -->
<link rel="preload" href="{{ site.baseurl }}/assets/fonts/-optimized.woff2" as="font" type="font/woff2" crossorigin>

<!-- Critical Font Loading -->
<script>
  (function() {
    "use strict";
    // Optimization for Repeat Views
    if( sessionStorage.fontsLoadedCriticalFoftPreloadFallback ) {
      document.documentElement.className += " fonts-loaded-2";
      return;
    } else if( "fonts" in document ) {
      document.fonts.load("1em LatoSubset").then(function () {
        document.documentElement.className += " fonts-loaded-1";
        Promise.all([
          document.fonts.load("400 1em "),
          document.fonts.load("700 1em "),
          document.fonts.load("italic 1em ")
        ]).then(function () {
          document.documentElement.className += " fonts-loaded-2";
          // Optimization for Repeat Views
          sessionStorage.fontsLoadedCriticalFoftPreloadFallback = true;
        });
      });
    } else {
      // use fallback
      var ref = document.getElementsByTagName( "script" )[ 0 ];
      var script = document.createElement( "script" );
      script.src = "{{ site.baseurl }}/assets/scripts/critical-fallback.js";
      script.async = true;
      ref.parentNode.insertBefore( script, ref );
    }
  })();
</script>