<aside class="list__recent">
  {{ $posts := first 5 (where .Site.RegularPages "Section" "posts") }}
  {{ if gt (len $posts) 0 }}
    <p class="recent__title">Recent Posts</p>
    <ul class="recent__list">
      {{ range $posts }}
        <li class="recent__item">
          <a href="{{.RelPermalink}}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
  {{ if gt (len $taxonomy) 0 }}
    <p class="recent__title">{{ $taxonomyname }}</p>
    <ul class="recent__list">
      {{ range $name, $value := $taxonomy }}
        <li class="recent__item">
          <a href="{{ printf "/%s/" $taxonomyname | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  {{ end }}
</aside>