<script>
  /**
   * Font loading via FontFace API to avoid FOUT.
   * After US charset subset files load, load full Latin chartset files.
   */
  if ('fonts' in document) {
    const fonts = [];

    {{ $weights := dict "Black" "900" "Bold" "700" "Dark" "500" "Regular" "400" "Italic" "400" }}
    {{ range os.ReadDir "static/fonts" }}
      {{ $sub := .Name | findRE "(subset.woff2)" }}

      {{ if ne $sub nil }}
        {{ $base := replace .Name "-subset.woff2" "" }}
        {{ $name := .Name | replaceRE "-.*" "" | replaceRE "_" " " }}
        {{ $woff := print $base ".woff" }}
        {{ $woff2 := print $base ".woff2" }}
        {{ $weightName := .Name | replaceRE ".*-(.*)-sub.*" "$1" }}
        {{ $weight := index $weights $weightName }}
        {{ $isItalic := .Name | findRE "Italic" }}
        {{ $style := cond (ne $isItalic nil) "italic" "normal" }}

        fonts.push(
          new FontFace(
            '{{ $name }}',
            'url(/fonts/{{ $woff2 }}) format("woff2"), url(/fonts/{{ $woff }}) format("woff")',
            { style: '{{ $style }}', weight: '{{ $weight }}' }
          )
        );
      {{ end }}
    {{ end }}

    const fontPromises = fonts.map(font => font.load());

    Promise.all(fontPromises).then(fonts => {
      fonts.forEach(font => {
        document.fonts.add(font);
      });
    });
  }
</script>