<footer class="footer">
  <nav class="footer__social">
    <a href="http://facebook.com/thedeaconbradley" target="_blank" rel="noopener noreferrer" aria-label="Facebook link." class="social__item">
      {{ $img := resources.Get "img/facebook.svg" | minify }}
      <img src="{{ $img.Permalink }}" aria-hidden="true" class="footer__icon"/>
    </a>
    <a href="https://www.instagram.com/deacon_on_scale/" target="_blank" rel="noopener noreferrer" aria-label="Instagram link." class="social__item">
      {{ $img := resources.Get "img/instagram.svg" | minify }}
      <img src="{{ $img.Permalink }}" aria-hidden="true" class="footer__icon"/>
    </a>
    <a href="https://www.linkedin.com/in/deaconbradley" target="_blank" rel="noopener noreferrer" aria-label="Linked In link." class="social__item">
      {{ $img := resources.Get "img/linkedin.svg" | minify }}
      <img src="{{ $img.Permalink }}" aria-hidden="true" class="footer__icon"/>
    </a>
    <a href="https://www.youtube.com/channel/UC6WtVeCjiWcjidubW3lHmRg" target="_blank" rel="noopener noreferrer" aria-label="YouTube link." class="social__item">
      {{ $img := resources.Get "img/youtube.svg" | minify }}
      <img src="{{ $img.Permalink }}" aria-hidden="true" class="footer__icon"/>
    </a>
  </nav>
  <p class="footer__copyright">Copyright {{ time.Now.Format "2006" }} &bull; {{ .Site.Title }}</p>
</footer>