# Ignoring as following the linter rules will break some of the rules
.eslintrc.js
babel.config.js
gulpfile.js
postcss.config.js
prettier.config.js
stylelint.config.js
webpack.config.babel.js
# Ignoring bundle JS to avoid undoing minification
assets/js/scripts.js