{{ define "main" }}
  {{ partial "header.html" . }}
  <main class="list">
    <article class="post">
      <h1 class="title">{{ .Title }}</h1>
      {{ if .Params.showthedate }}
      <section class="meta">
        <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        <p class="author">by {{ .Params.author }}</p>
      </section>
      {{ end }}
      <section class="content">{{ .Content }}</section>
    </article>
  </main>
  {{ partial "footer.html" . }}
{{ end }}