@import 'variables';
@import 'extends';
@import 'mixins';
@import 'reset';
@import 'fonts';

:root {
  --active: $active;
  --brand: $brand;
  --card: $card;
  --font: $font;
  --link: $link;
  --meta: $meta;
  --white: $white;
}