// Styling
%backNone {
  background: none;
}

%bord {
  border-radius: .125rem;
}

%content {
  content: '';
}

%noDeco {
  text-decoration: none;
}

// Layout
%block {
  display: block;
}

%inBlock {
  display: inline-block;
}

%flex {
  display: flex;
}

%grid {
  display: grid;
}

%gridFall {
  display: flex;

  @supports (display:grid) {
   display: grid !important;
  }
}

%none {
  display: none;
}

// Flexbox
%flexCol {
  flex-direction: column;
}

%flexRow {
  flex-direction: row;
}

%flexWrap {
  flex-wrap: wrap;
}

// Align
%itmCent {
  align-items: center;
}

%itmEnd {
  align-items: end;
}

%itmFlexEnd {
  align-items: flex-end;
}

%itmFlexStr {
  align-items: flex-start;
}

%itmStr {
  align-items: start;
}

%alSelfCent {
  align-self: center;
}

%alSelfEnd {
  align-self: end;
}

%alSelfStr {
  align-self: start;
}

// Justify
%contCent {
  justify-content: center;
}

%contEnd {
  justify-content: end;
}

%contFlexEnd {
  justify-content: flex-end;
}

%contFlexStart {
  justify-content: flex-start;
}

%contArnd {
  justify-content: space-around;
}

%contBtwn {
  justify-content: space-between;
}

%contStr {
  justify-content: start;
}

%justSlfCent {
  justify-self: center;
}

%justSlfEnd {
  justify-self: end;
}

%justSlfStr {
  justify-self: start;
}

// Position
%abs {
  position: absolute;
}

%fixed {
  position: fixed;
}

%rel {
  position: relative;
}

%sti {
  position: sticky;
}

%b0 {
  bottom: 0;
}

%l0 {
  left: 0;
}

%r0 {
  right: 0;
}

%t0 {
  top: 0;
}

// Spacing
%mHor {
  margin: 0 auto;
}

%mVert {
  margin: auto 0;
}

%mA0 {
  margin: 0;
}

%mA1 {
  margin: 1rem;
}

%mA2 {
  margin: 2rem;
}

%mAA {
  margin: auto;
}

%mB0 {
  margin-bottom: 0;
}

%mB1 {
  margin-bottom: 1rem;
}

%mB2 {
  margin-bottom: 2rem;
}

%mBA {
  margin-bottom: auto;
}

%mL0 {
  margin-left: 0;
}

%mL1 {
  margin-left: 1rem;
}

%mL2 {
  margin-left: 2rem;
}

%mLA {
  margin-left: auto;
}

%mR0 {
  margin-right: 0;
}

%mR1 {
  margin-right: 1rem;
}

%mR2 {
  margin-right: 2rem;
}

%mRA {
  margin-right: auto;
}

%mT0 {
  margin-top: 0;
}

%mT1 {
  margin-top: 1rem;
}

%mT2 {
  margin-top: 2rem;
}

%mTA {
  margin-top: auto;
}

%pA0 {
  padding: 0;
}

%pA1 {
  padding: 1rem;
}

%pA2 {
  padding: 2rem;
}

%pB0 {
  padding-bottom: 0;
}

%pB1 {
  padding-bottom: 1rem;
}

%pB2 {
  padding-bottom: 2rem;
}

%pL0 {
  padding-left: 0;
}

%pL1 {
  padding-left: 1rem;
}

%pL2 {
  padding-left: 2rem;
}

%pR0 {
  padding-right: 0;
}

%pR1 {
  padding-right: 1rem;
}

%pR2 {
  padding-right: 2rem;
}

%pT0 {
  padding-top: 0;
}

%pT1 {
  padding-top: 1rem;
}

%pT2 {
  padding-top: 2rem;
}

// Sizing
%h100 {
  height: 100%;
}

%w100 {
  width: 100%;
}

// Animation
%transAll {
  transition: all var(--duration) ease;
}

// Bundles
%noSpace {
  @extend %mA0;
  @extend %pA0;
}

%absPos {
  @extend %abs;
  @extend %b0;
  @extend %l0;
  @extend %r0;
  @extend %t0;
}

%relPos {
  @extend %rel;
  @extend %b0;
  @extend %l0;
  @extend %r0;
  @extend %t0;
}
