// Media Queries
@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin media-query-max($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin range($max, $min) {
  @media screen and (max-width: $max) and (min-width: $min) {
    @content;
  }
}

@mixin transition($property) {
  transition: $property var(--duration) ease-in-out;
}

@mixin transition-timed($property, $timing: var(--duration)) {
  transition: $property $timing ease-in-out;
}

@mixin fit-height($offset) {
  height: calc(100vh - $offset);
}

@mixin fit-width($offset) {
  width: calc(100vw - $offset);
}
