// COLORS
$brand: hsl(326, 100%, 77%);
$font: hsl(0, 0%, 20%);
$link: hsl(191, 97%, 31%);
$meta: hsl(0, 0%, 80%);
$white: hsl(0, 0%, 100%);

// ANIMATIONS
$timing: 200ms;

// SHADOWS
$card: 0 1px 18px hsla(0, 0%, 0%, 0.2);
$active: 0 7px 14px hsla(240, 30%, 28%, 0.1), 0 3px 6px hsla(0, 0%, 0%, 0.08);