@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;
  src: local(Rubik), local(Rubik), url('Rubik.woff2') format('woff2'),
    url('Rubik.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: Light;
  src: local(Rubik-Italic), local(Rubik-Italic),
    url('Rubik-Italic.woff2') format('woff2'),
    url('Rubik-Italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;
  src: local(Rubik-Bold), local(Rubik-Bold),
    url('Rubik-Bold.woff2') format('woff2'),
    url('Rubik-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Dyslexic;
  font-weight: 400;
  font-style: normal;
  src: local(OpenDyslexic), local(OpenDyslexic),
    url('OpenDyslexic.woff2') format('woff2'),
    url('OpenDyslexic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Dyslexic;
  font-weight: 700;
  font-style: normal;
  src: local(OpenDyslexic-Bold), local(OpenDyslexic-Bold),
    url('OpenDyslexic-Bold.woff2') format('woff2'),
    url('OpenDyslexic-Bold.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Fira Code;
  font-weight: 400;
  font-style: normal;
  src: local(FiraCode), local(FiraCode),
    url('FiraCode.woff2') format('woff2'),
    url('FiraCode.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Fira Code;
  font-weight: 300;
  font-style: light;
  src: local(FiraCode-Light), local(FiraCode-Light),
    url('FiraCode-Light.woff2') format('woff2'),
    url('FiraCode-Light.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: Fira Code;
  font-weight: 700;
  font-style: normal;
  src: local(FiraCode-Bold), local(FiraCode-Bold),
    url('FiraCode-Bold.woff2') format('woff2'),
    url('FiraCode-Bold.woff') format('woff');
  font-display: swap;
}