// Media Queries
@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
 }
 @mixin media-query-max($device) {
  @media screen and (max-width: $device) {
    @content;
  }
 }
 @mixin range($max,$min) {
  @media screen and (max-width: $max) and (min-width: $min) {
    @content;
  }
}