// Reset
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}
a,
a:visited,
article a {
  color: inherit;
}
footer,
header {
  padding: 15px;
}
a:active,
a:hover,
article h2 a:active,
article h2 a:hover {
  color: $link;
}
hr,
.meta {
  color: $meta;
}
a.meta:active,
a.meta:hover {
  color: $accent;
}
article {
  a {
    color: $link;
  }
}
article p {
  line-height: 27px;
}
article,
main {
  @extend %full-width;
  @extend %margin-center;
}
blockquote {
  border-left: 1px solid $link;
  padding-left: 15px;
}
header,
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h2, h3, h4 {
  margin-top: 10px;
}
img,
svg,
video {
  height: auto;
  width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[hidden] {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

:focus:not(:focus-visible) {
  outline: none;
}
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}